 .head{

 background-color: black;
 color: rgb(255, 255, 255);
 display:flex;
 justify-content: space-between;
 }
 .header *{
    border:ridge
 }

 h1{
   text-decoration: underline;
  color:#FFFFFF;
  margin-left:30px
 }

 .Project{
 
    display: flex;
    color: crimson;
    justify-content: center;
    text-shadow: 1px 1px black;
 }

 a:link{
   color: rgb(48, 222, 228);
 }

 a:hover{
    color: white;
 }

 .example{

    display: flex;
    flex-direction: column;
    justify-content: first baseline;
 }
 body {
 background-color: #ffffff;

 }
.image{
   position:relative;
}
 .image img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:1
 }
 .image:hover img{
    opacity:0.2;

 }
 